<h2 class="current-category"><%= params[:category] %></h2>

<% if @plays.count == 0 %>
  <h3>Нет постановок в этом жанре</h3>
<% else %>
  <% @plays.each do |play| %>
    <h2><%= link_to play.title, play_path(play) %></h2>
  <% end %> 
<% end %>  


